@page "/counter"
@rendermode InteractiveAuto
@inject NavigationManager Navigation


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@* for 48:Routing SECTION For FullPage Refresh as NavigateToPage does a partial refresh*@
<button class="btn btn-danger" @onclick="RefreshPage">Refresh</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void RefreshPage()
    {
        //Does a full page refresh to avoid Partial Refresh.
        Navigation.Refresh(true);
    }
}
