@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--To override@Model.FirstName then under url place it like this https://localhost:7289/?FirstName=Arif-->
    <h1 class="display-4">Welcome To @Model.City</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


