@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<br />
@* Component with Title Parameter *@

<BetterCounter Title="Counter 1"/>

@* Component with Title Parameter and Starting Value *@

<BetterCounter Title="Counter 1" StartingValue="1"/>

@*
Activate Demo.razor for Component Excercise
<Demo />
*@


@* 
    Uncomment for 48:Routing Section
<Start/> *@